<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" />
    <title><%= title %></title>

</head>
<body>

<input id="fileinput"  accept="image/*"  type="file" name="file[]" multiple/>
<form id="form" action='/upload'  method="post"  >
    <input type='text' name='name' value='fred'>
    <input type='submit' value='Submit'>
</form>
<div id="preview"></div>

</body>
<script type="text/javascript" src="/javascripts/upload.js"></script>
</html>
